.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

.botonenviar{
    position: absolute; /* Establece la posición absoluta */
      top: 107px; /* Cambia la posición vertical en píxeles */
      left: 1123px; /* Cambia la posición horizontal en píxeles */

}
body{

    background-color:   #62abd8d8;
}

tr.even {
    background-color: #D5D8DC; /* Cambia este valor al color que prefieras */
  }

  tr.odd {
    background-color: #ECF0F1; /* Cambia este valor al color que prefieras */
  }

.banner {
    padding: 20px;
    background-color: #FF5733; /* Color del banner */
    color: #FFFFFF; /* Color del texto */
    border-radius: 8px;
    margin: 20px;
  }